#include <dt-bindings/zmk/matrix_transform.h>

/ {
	chosen {
		zmk,kscan = &default_kscan;
		zmk,matrix_transform = &default_transform;
	};

	default_kscan: kscan0 {
        compatible = "zmk,kscan-direct-gpio";

        input-gpios = <
            &pro_micro 6   (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P0.06 - D1
            &pro_micro 8   (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P0.08 - D0
            &pro_micro 17  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P0.17 - D2
            &pro_micro 20  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P0.20 - D3
            &pro_micro 22  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P0.22 - D4

            &pro_micro 24  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P0.24 - D5
            &pro_micro 0   (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P0.00 - D6
            &pro_micro 11  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P0.11 - D7
            &pro_micro 4   (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P1.04 - D8
            &pro_micro 6   (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P1.06 - D9

            &pro_micro 31  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P0.31 - D21
            &pro_micro 29  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P0.29 - D20
            &pro_micro 2   (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P0.02 - D19
            &pro_micro 15  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P1.15 - D18
            &pro_micro 13  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P1.13 - D15

            &pro_micro 11  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P1.11 - D14
            &pro_micro 10  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P1.10 - D16
            &pro_micro 9   (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P1.09 - D10

            &pro_micro 33  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P1.01 - Extra
            &pro_micro 34  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P1.02 - Extra
            &pro_micro 39  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) // P1.07 - Extra
        >;
        debounce-period-ms = <5>;
    };

    default_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <21>;
		rows = <1>;
		map = <
			RC(0,0)      RC(0,1)      RC(0,2)     RC(0,3)      RC(0,4)
			RC(0,5)      RC(0,6)      RC(0,7)     RC(0,8)      RC(0,9)
			RC(0,10)     RC(0,11)     RC(0,12)    RC(0,13)     RC(0,14)
			RC(0,15)     RC(0,16)     RC(0,17)    RC(0,18)     RC(0,19)  RC(0,20)
		>;
	};
};
